// / 1. Colors
$color-blue: #048abf;
$color-pink: #f2668b;
$color-yellow: #f2e205;
$color-yellow: #f29f05;
$color-green: #60bf81;
$color-red: #f20f38;
$color-purple: #a663cc;
$color-bloou: #5adbff;

$color-text: #1d1c26;
$color-background: #eceff1;
$color-background: #e6e6fa;

$color-grey: #bfbfbf;
$color-black: #000000;
$color-white: #ffffff;
$color-testing: orangered;

$color-xtra-1: #da2c38;
$color-xtra-2: #226f54;
$color-xtra-3: #87c38f;
$color-xtra-4: #f4f0bb;
$color-xtra-5: #43291f;

// 2. Font size
$text-header-main: 6.4rem;
$text-header-sub: 4.8rem;
$text-big: 3.6rem;
$text-emphasize: 2.4rem;
$text-standard: 2rem;
$text-small: 1.6rem;
$text-mini: 1.2rem;
$text-supersmall: 0.8rem;

// 3. Whitespace
$space-big: 12.8rem;
$space-widegap: 8.4rem;
$space-decent: 7.2rem;
$space-margin: 5.6rem;
$space-standard: 4.8rem;
$space-gap: 3.6rem;
$space-sub: 2.8rem;
$space-small: 1.8rem;
$space-mini: 1.2rem;
$space-supersmall: 0.6rem;

// 4. Configurative Values
$max-width: 52.5rem;
