*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;
}

@media screen and (min-height: 800px) {
  html {
    font-size: 60%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: $text-small;
  font-weight: 400;
  color: $color-text;
  background-color: $color-white;
  letter-spacing: 1.35px;
}

.workspace {
  max-width: $max-width;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  // background-color: $color-yellow;
  background-image: linear-gradient(
      to bottom right,
      rgba($color-white, 0.8) 40%,
      rgba($color-yellow, 0.15),
      rgba($color-white, 0.95) 80%
    ),
    url('../imgs/background.jpg');
  height: 100vh;
  width: 100%;
  // flex-shrink: 0;
  padding: $space-sub $space-small;
  // border: 0.5rem solid $color-black;
}
